@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;700&family=Roboto:wght@100;300;500;700&display=swap');

:root {
    --background-page: #271104f5;
    --background-nav: #f83b01;
    --white: #ffffff;
    --gray: #271104f5;
    --yellow: #ffffff;
    --black: #010202;
    --letrapreto: #000000;
    --blue: #271104f5;
    --letra: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   
    background-image: url(https://i.imgur.com/6kyWCBm.png);
}

p {
    font-family: 'lato', Roboto;
    margin-bottom: 1.5rem;
}

h1,
h2,
h3,
a {
    font-family: 'Lato', cursive;
    color: var(--letra);
    letter-spacing: 3px;
    font-weight: 800;
}

h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-shadow: 0 0 5px var(--letra);
}

hr {
    margin: 1rem;
}

header {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #271104f5;
    box-shadow: 2px 2px 5px var(--gray);
}



.icone {
    width: 5rem;
    display: flex;
    padding-left: 1rem;
}

.titulo{
  font-family: 'Lato', cursive;
  color: var(--white);
  font-size: 1.5rem;
  letter-spacing: 3px;
    font-weight: 800;
}

ul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1rem;
    font-size: 24px;
    color: var(--white);
}

main {
    width: 80vw;
    margin: 0 auto;
}
.linha-vertical {
    width: 4px; /* Ajuste a largura da linha conforme necessário */
    height: 100%; /* Isso faz a linha estender-se verticalmente por toda a altura da janela */
    background-color: #271104f5;
    position: absolute;
    top: 12;
    left: 58%; /* Posiciona a linha no centro horizontal da janela */
    transform: translateX(-50%); /* Centraliza a linha horizontalmente */
}

#sobre {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: 40px;
    border-radius: 40px;
    gap: 20px;
    margin-left: 10vh;
    margin-right: 10vh;
}

#textoperfil{
margin-right: 10vh;  
}
#perfil{
    margin-left: 12vh;  
    }

#sobre1 {
    display: flex;
    align-items: center;
    background-color: var(--yellow);
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    gap: 10px;
}

.foto {
    width: 430px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px var(--gray);
}

#meu_video {
    margin-bottom: 2rem;
}

.video {
    width: 60vw;
    aspect-ratio: 16/9;
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    margin-top: 2rem;
}

footer {
    width: 100%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
}

.redes_sociais {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.by {
    display: flex;
    padding-top: 0.25rem;
    color: var(--yellow);
}

.icons {
    width: 45px;
    padding: 0 0.5rem;
}

.icons1 {
    width: 120px;
    padding: 0 0.5rem;
}

/*Página de Contato*/

.contato {
    display: flex;
    gap: 3rem;
    justify-content: center;
    padding: 40px
    
}

.endereco {
    font-family: 'lato', Roboto;
    color: var(--letra);
    font-size: 1rem;
}

.formulario {
    width: 50%;
}

label {
    font-family: 'lato', Roboto;
    margin-left: 1rem;
    font-weight: bold;
}

input,
textarea,
button {
    font-family: 'lato', Roboto;
    width: 100%;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: var(--letrapreto);
}

input::placeholder,
textarea::placeholder {
    color: var(--letra);
}

input,
textarea {
    border: 1px solid var(--letra);
}

button {
    font-family: 'lato', Roboto;
    background-color: var(--background-nav);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border: 2px solid var(--letra)
}

button:hover {
    background-color: var(--letra);
    color: var(--yellow);
}

.campos-form {
    margin-bottom: 1rem;
    font-family: 'lato', Roboto;
    color: var(--letra);
    font-size: 1rem;
}
.navbar-custom {
    background-color: #252525;

}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #fff;
}

.navbar-custom .navbar-brand img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 0, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='0' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#meu_curriculo {
    text-align: center;
  }
  
  .container {
    display: inline-block;
    text-align: center;
  }
  
  .pdf {
    margin: 0 auto;
    display: block;
  }
  
@media (max-width: 700px) {

    nav{
        width: 150vw;
        flex-direction: column;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }

    .logo {
        width: 90vw;  
    }

    .titulo{
        text-align: center;
    }

    main{   
        width: 90vw;
    }
    #sobre {
        flex-direction: column-reverse;
        display: flex;
        align-items: center;
        background-color: var(--yellow);
        padding: 40px;
        border-radius: 40px;
        gap: 0px;
        margin-left: 0vh;
        margin-right: 0vh;
    }
    
    #textoperfil{
    margin-right: 0vh;  
    }
    #perfil{
        margin-left: 5vh;  
        }
    
    #sobre1 {
        display: flex;
        align-items: center;
        background-color: var(--yellow);
        padding: 10px;
        border-radius: 8px;
        align-items: center;
        gap: 10px;
    }

    .foto {
        width: 280px;
        height: 250px;
        border-radius: 20px;
        margin-bottom: 5vh;
        box-shadow: 2px 2px 5px var(--gray);
    }
    .linha-vertical {
        width: 4px; /* Ajuste a largura da linha conforme necessário */
        height: 0%; /* Isso     faz a linha estender-se verticalmente por toda a altura da janela */
        background-color: #145a88;
        position: absolute;
        top: 12;
        left: 58%; /* Posiciona a linha no centro horizontal da janela */
        transform: translateX(-50%); /* Centraliza a linha horizontalmente */
    }
    #meu_video {
        width: 90vw;
    }

    .video {
        width: 90vw;
        height: 50vw;
    }

    footer{
        width: 90vw;
    }

    .by {
        font-size: 1rem;
    }

    #contato {
        width: 90vw;
        flex-direction: column;
    }

    #formulario_mensagem,
    #formulario_buscacep {
        width: 90vw;
        margin: 0 auto;
    }
    .meu_curriculo{
        text-align: left;
        width: 50vw;

    }
    #pdf {
        display: legacy;
        text-align: left;
        width: 100vw;
      }
      .navbar-custom {
        width: 350px;
        float: center;
}
}